.element__delete {
  width: 18px;
  height: 19.3px;
  position: absolute;
  background-image: url(../../../images/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: Transparent;
  padding: 0;
  margin: 0;
  top: 18px;
  right: 15px;
}
