.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;
  width: 68.75%;
}
@media screen and (max-width: 1000px) {
  .profile {
    width: 88.13%;
    flex-direction: column;
    margin-top: 42px;
  }
}
