.popup__submit-button {
  border: none;
  background: #000;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 1000px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
