.popup__submit-button {
  border: none;
  background: #000;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 37px;
}
@media screen and (max-width: 1000px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  }
}
