.popup__input-error {
  position: absolute;
  top: 32px;
  left: 0px;
  opacity: 0;
  width: 358px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;

}

.popup__input-error:nth-of-type(2) {
  top: 90px;
}


@media screen and (max-width: 1000px) {
  .popup__input-error {
    width: 238px;
  }
}
