.profile__avatar-and-info {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
  .profile__avatar-and-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
