.popup__save {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 1000px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
  }
}
