.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 45px auto 0;
  padding: 0;
  width: 68.75%;
}
@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
    margin: 28px auto 0;
  }
}
