.popup__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 358px;
  height: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin-bottom: 30px;
}
.popup__field:nth-of-type(2) {
  margin-bottom: 48px;
}
@media screen and (max-width: 1000px) {
  .popup__field {
    width: 238px;
  }
  .popup__field:nth-of-type(2) {
    margin-bottom: 45px;
  }
}
